<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kana Master - <%= username%></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="src/KanaQuestion.js"></script>
    <script src="/src/kanamain.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .card {
            padding: 7px 11px;
        }
    </style>
</head>
<body>
    <h1>Kana Master</h1>
    <h2>Welcome</h2><h2 id="usernameLabel"><%= username%></h2>
    <h3>Your current level is: </h3>
    <h2 id="levelLabel"><%= level%></h2>
    <button id="beginButton">Begin Training Session</button>
    <div id="quiz" name="quiz"></div>
</body>
</html>