<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kana Master - <%= username%></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="src/KanaQuestion.js"></script>
    <script src="/src/kanamain.js"></script>
</head>
<body>
    <h1>Kana Master</h1>
    <h2>Welcome</h2><h2 id="usernameLabel"><%= username%></h2>
    <h3>Your current level is: </h3>
    <h2 id="levelLabel"><%= level%></h2>
    <button id="beginButton">Begin Training</button>
    <div id="quiz" name="quiz"></div>
</body>
</html>