<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kana Master Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .card {
            padding: 7px 7px 7px 7px;
        }
        h1, h2, h3, button, label, input {
            margin: 7px 7px 7px 7px;
        }
        img {
            border: 1px solid black; 
        }
    </style>
    <script>

    </script>
</head>
<body>
    <h1>Kana Master Login</h1>
    <%
        if (invalid) { %>
            <p id="invalid">Invalid username and/or password</p>
        <%}
    %>
    <form action="/login" method="post">
        <label for="username">User: </label><br>
        <input type="text" name="username" id="username" value="<%= username%>"><br>
        <label for="password">Password: </label><br>
        <input type="password" name="password" id="password" value=""><br>
        <button type="submit" class="btn btn-primary ptn-lg">Log in</button>
    </form>
    <form action="/signup.html" method="get">
        <button type="submit" class="btn btn-primary ptn-lg">Sign Up</button>
    </form>
    
</body>
</html>