<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kana Master Login</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="username">User: </label><br>
        <input type="text" name="username" id="username" value="<%= username%>"><br>
        <label for="password">Password: </label><br>
        <input type="password" name="password" id="password" value=""><br>
        <button type="submit">Log in</button>
    </form>
</body>
</html>